.conteudo {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    padding: 10px;
    padding-top: 15px;
}

.bloco-interno {
    border-color: rgba(0,0,0,.125);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    padding: 10px;
    padding-top: 15px;
    margin-top: -10px;
}

/* .bloco:hover {
    border: 1px solid #008e47;
}

.active {
    border: 1px solid #008e47;
} */

.fa-check {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.title {
    font-weight: bold;
    font-size: medium;
}

.cursor {
    float: left;
    margin-right: 15px;
}
