.conteudo {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px
}

.seta-troca {
    margin-right: 30px;
}

.refreshContaBlockchain {
    margin-top: 35px;
  }

.btn {
    margin-bottom: 0px !important;
}

p {
    font-weight: bold;
    font-size: medium;
}

h2 {
    margin-bottom: 20px;
}

.declaracao {
    margin-bottom: 15px;
}

.imgDeclaracao {
    width: 40px;
}

.fa-check {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}