<app-metamsg></app-metamsg>
<!--<div class="form-group" *ngIf="web3Service.conexaoComBlockchainEstaOK()">-->
  <br>

  <div class="title-loading row">
    <h2 class="page-header">Liquidação dos Resgate</h2>
  </div>

  <div class="row">

    <div class="table-responsive-md">
      <table class="table table-striped table-bordered table-sm" *ngIf="liquidacaoResgate">

        <thead>

          <tr>
            <th>Razão Social             
              </th>
            <th>CNPJ
            </th>
            <th>Valor
            </th>
            <th>HashID</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>{{liquidacaoResgate.razaoSocial}}</td>
            <td>{{liquidacaoResgate.cnpj}}</td>            
            <td>{{liquidacaoResgate.valorResgate | currency:'BND':'symbol':'1.2-2':'pt'}}</td>
            <td class="text-center">
              <a href="https://rinkeby.etherscan.io/tx/{{liquidacaoResgate.hashID}}">
                <i class="fa fa-link" aria-hidden="true"></i>
              </a>
            </td>
            <td class="text-center">
              <input type="text" [(ngModel)]="liquidacaoResgate.hashComprovacao" size="30" [disabled]="liquidacaoResgate.isLiquidado">
            </td>
            <td><button type="button" class="btn btn-success btn-cabecalho" placement="bottom" (click)="liquidar()" *ngIf="!liquidacaoResgate.isLiquidado">
                    <i class="fa fa-money" aria-hidden="true"></i> Liquidar
                  </button>
            </td>            
          </tr>

        </tbody>
      </table>
    </div>

    
  <!--</div>-->