<div class="form-group" *ngIf="selectedAccount">


  <div *ngIf="liquidacaoResgate">


        <div class="form-group">
          <h2>Liquidação do Resgate</h2>
        </div>
    
        <div class="conteudo form-group" >

            <div class="row">
                <div class="col-md-12 col-sm-12">
                  <p>Identificação do Fornecedor</p>
                </div>
              </div>          

            <div class="row">

              <div class="form-group col-md-4 col-sm-4">
                <label>CNPJ:</label>
                <input [ngModel]="liquidacaoResgate.cnpj | cnpjMask" class="form-control form-control-sm" readonly  disabled />
              </div>
  
              <div class="form-group col-md-4 col-sm-4" >
              <label>Razão Social:</label>
              <input name="razaoSocial" class="form-control form-control-sm" [ngModel]="liquidacaoResgate.razaoSocial" readonly  disabled/>
            </div>
    
 
            </div>
          </div>
        </div>
    
        <div class="conteudo form-group" *ngIf="liquidacaoResgate" >
    
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <p>Dados do Evento de Resgate</p>
            </div>
          </div>
    
 
          <div class="row">

              <div class="form-group col-md-6 col-sm-6 ">
                  <label>Valor:</label>
                  <input  name="valor" [ngModel]="liquidacaoResgate.valorResgate | currency:'R$':'symbol':'1.2-2':'pt'" class="form-control form-control-sm" required readonly/>
              </div>          

              <div class="form-group col-md-6 col-sm-6 ">
                  <label>Data e hora:</label>
                  <input  name="dataHora" [ngModel]="liquidacaoResgate.dataHoraResgate | date: 'dd/MM/yyyy hh:mm a'"  class="form-control form-control-sm" required readonly/>
              </div>          
          </div>

        </div>

        

        <div class="conteudo form-group" >
    
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <p>Dados do Evento de Liquidação</p>
              </div>
            </div>
      
   
            <div class="row">
  
                <div class="form-group col-md-6 col-sm-6 ">
                    <label>Hash da Comprovante de Pagamento:</label>
                    <input name="hashComprovacao" [(ngModel)]="liquidacaoResgate.hashComprovacao" maxlength="64" class="form-control form-control-sm" required [disabled]="liquidacaoResgate.isLiquidado">
                </div>          
  
                <div class="form-group col-md-6 col-sm-6 " *ngIf="liquidacaoResgate.isLiquidado">
                    <label>Data e hora:</label>
                    <input  name="dataHoraLiquidacao" [ngModel]="liquidacaoResgate.dataHoraLiquidacao | date: 'dd/MM/yyyy hh:mm a'" class="form-control form-control-sm" required readonly />
                </div>          
            </div>


            <div class="row" *ngIf="liquidacaoResgate.isLiquidado">
                <div class="form-group col-md-6 col-sm-6 ">

                <a href="https://{{blockchainNetworkPrefix}}etherscan.io/tx/{{liquidacaoResgate.hashID}}">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>  

                </div>
           </div>            

          </div>

            
    
        <div class="form-group" >
          <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="Liquidar" 
          (click)="liquidar()" *ngIf="!liquidacaoResgate.isLiquidado">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Liquidar
          </button>
        
        </div>
    
</div>
<app-metamsg *ngIf="!selectedAccount"></app-metamsg>
        
    

