<div class="form-group" *ngIf="selectedAccount">

  <div *ngIf="liberacao">

    <div class="form-group">
      <h2>Liberação</h2>
    </div>

    <div class="conteudo">
      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <h5>Conta Origem:</h5>
        </div>
      </div>

      <div class="row contaBlockchain">
        <div class="form-group col-md-5 col-sm-5">
          <label>Conta Blockchain do BNDES:</label>
          <input type="text" class="form-control form-control-sm" [ngModel]="selectedAccount" readonly disabled size="45">
        </div>
      </div>
    </div>

    <div class="conteudo">
      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <h5>Conta Destino:</h5>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <label>CNPJ a liberar:</label>
          <input [(ngModel)]="liberacao.cnpjWithMask" class="form-control form-control-sm" (ngModelChange)="recuperaInformacoesDerivadasCNPJ()"
            [textMask]="{mask: maskCnpj}" />
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Razão Social:</label>
          <input type="text" class="form-control form-control-sm" [ngModel]="liberacao.razaoSocial" readonly disabled/>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Contrato Financeiro:</label>
          <select name="numertoSubcreditoSelecionado" class="form-control form-control-sm" [(ngModel)]="liberacao.numeroSubcreditoSelecionado"
            (ngModelChange)="atualizaInfoPorMudancaSubcredito()" [disabled]="liberacao.subcreditos === undefined || liberacao.subcreditos.leght==0">
            <option *ngFor="let subcredito of liberacao.subcreditos | orderBy: 'nome'" [attr.value]="subcredito.numero">{{subcredito.numero}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-5 col-sm-5">
          <label>Conta Blockchain associada ao contrato:</label>
          <input name="contaBlockchain" type="text" class="form-control form-control-sm" [ngModel]="liberacao.contaBlockchainCNPJ" readonly 
          required disabled size="45">
          <div class="msg-conta-invalida" >
            {{accountState}}
          </div>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Saldo atual de BNDESToken do subcrédito:</label>
          <input currencyMask type="text" class="form-control form-control-sm" [ngModel]="liberacao.saldoCNPJ" readonly disabled/>
        </div>
      </div>
    </div>

    <div class="conteudo">
      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <h5>Liberação:</h5>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <label>Valor a liberar (em BNDESTokens):</label>
          <input currencyMask type="text" class="form-control form-control-sm" [(ngModel)]="liberacao.valor" />
        </div>
        <div class="form-group col-md-4 col-sm-4">
          <label>Valor a liberar (em R$):</label>
          <input currencyMask [options]="{ prefix: 'R$ '}" type="text" class="form-control form-control-sm" [(ngModel)]="liberacao.valor"
            readonly disabled/>
        </div>

      </div>
    </div>

    <div class="form-group">
      <button (click)="liberar()" type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="Liberar" 
      [disabled]="liberacao.numeroSubcreditoSelecionado === undefined || liberacao.valor <= 0 || liberacao.contaBlockchainCNPJ == '' ">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Liberar
      </button>
    </div>

  </div>

</div>
<app-metamsg *ngIf="!selectedAccount"></app-metamsg>
