<app-metamsg></app-metamsg>
<div class="form-group" *ngIf="web3Service.conexaoComBlockchainEstaOK()">

<div class="title-loading">
  <h2 class="page-header">Dashboard Resgates e Liquidações</h2>
  <app-bn-loading class="loading" *ngIf="estadoLista === 'undefined'"></app-bn-loading>
</div>

<div *ngIf="estadoLista === 'vazia'">
  <p>Não foi encontrada nenhuma transação de Resgate ou Liquidação na Blockchain!</p>
</div>

<div *ngIf="estadoLista === 'cheia'">
  <div class="container">
    <div class="row" *ngIf="pieChartData.dataTable[1][1] > 0 || pieChartData.dataTable[2][1] > 0">
      <div class="col">
        <google-chart #pieChart [data]="pieChartData"></google-chart>
      </div>
      <div class="col">
        <google-chart #barChart [data]="barChartData"></google-chart>
      </div>
    </div>
  </div>

  <input class="form-control barra-filtro" type="text" name="search" [(ngModel)]="filter" placeholder="Filtro">

  <div class="table-responsive-md">
    <table class="table table-striped table-bordered table-sm">

      <thead>
        <tr>
          <th class="cnpj-table-cell" [class.active]="order === 'deCnpj'" (click)="setOrder('deCnpj')" scope="col">CNPJ origem
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'razaoSocialOrigem'" (click)="setOrder('razaoSocialOrigem')" scope="col">Razão Social Origem
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th class="cnpj-table-cell" [class.active]="order === 'paraCnpj'" (click)="setOrder('paraCnpj')" scope="col">CNPJ destino
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'razaoSocialDestino'" (click)="setOrder('razaoSocialDestino')" scope="col">Razão Social Destino
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'valor'" (click)="setOrder('valor')" scope="col">Valor
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'tipo'" (click)="setOrder('tipo')" scope="col">Tipo
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'status'" (click)="setOrder('status')" scope="col">Status
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'dataHora'" (click)="setOrder('dataHora')" scope="col">Data/Hora
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th scope="col">HashId
            <div class="help-tip">
              <i class="fa fa-question-circle"></i>
              <p>Link para visualização da transação do Resgate à partir do hash de identificação no Etherscan.</p>
            </div>
          </th>
          <th scope="col">Hash Comprovante
            <div class="help-tip">
              <i class="fa fa-question-circle"></i>
              <p>Link para visualização do hash do comprovante no log de eventos da transação da liquidação do resgate no Etherscan.
              </p>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let resgate of listaResgates | orderBy: order :reverse : 'caseInsensitive' :customComparator | filter:filter | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index"
          (click)="selecionaResgate(i)" [class.table-active]="isActive[i]">
          <td>{{resgate.deCnpj | cnpjMask}}</td>
          <td>{{resgate.razaoSocialOrigem}}</td>
          <td>{{resgate.paraCnpj | cnpjMask}}</td>
          <td>{{resgate.razaoSocialDestino}}</td>
          <td>{{(resgate.valor*1) | currency:'BND':'symbol':'1.2-2':'pt'}}</td>
          <td>{{resgate.tipo}}</td>
          <td>{{resgate.status}}</td>
          <td>{{resgate.dataHora | date: 'dd/MM/yyyy hh:mm a' }}</td>
          <td class="text-center">
            <a target="_blank" href="https://rinkeby.etherscan.io/tx/{{resgate.hashID}}">
              <i class="fa fa-link" aria-hidden="true"></i>
            </a>
          </td>
          <td class="text-center">
            <a target="_blank" href="https://rinkeby.etherscan.io/tx/{{resgate.hashID}}/#eventlog" *ngIf="resgate.hashComprovante">
              <div class="help-tip">
                <i class="fa fa-link" aria-hidden="true"></i>
                <p>{{resgate.hashComprovante}}</p>
              </div>
            </a>
            <div *ngIf="!resgate.hashComprovante">-</div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="text-center">
      <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo" class="paginacao"></pagination-controls>
    </div>

    <app-bloco-animado [title]="'Validar Comprovante'" *ngIf="validadorComprovanteEstaAtivo">

      <div class="alert alert-success" role="alert" *ngIf="comprovanteEhValido">
        Os comprovantes selecionados são iguais!
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="comprovanteNaoEhValido">
        Os comprovantes selecionados são diferentes.
      </div>

      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <label>Faça o upload do comprovante para verificar se o documento salvo na Blockchain está correto.</label>
          <input type="file" name="arquivo" #upload (change)="verificaComprovante()" ng2FileSelect [uploader]="uploader" hidden>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <label>Comprovante do Resgate Selecionado:</label>
        </div>
        <div class="form-group col-md-7 col-sm-7">
          <input name="razaoSocial" class="form-control form-control-sm" [(ngModel)]="listaResgates[posicaoItemSelecionado].hashComprovante"
            readonly disabled/>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <label>Comprovante carregado:</label>
        </div>
        <div class="form-group col-md-7 col-sm-7">
          <input name="razaoSocial" class="form-control form-control-sm" [(ngModel)]="hashComprovanteRecebido" readonly disabled/>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <button class="btn btn-success btnUpload" (click)="upload.click()">
            <i class="fa fa-upload" aria-hidden="true" style="color:white"></i> Upload
          </button>
        </div>
      </div>

    </app-bloco-animado>

  </div>
</div>
</div>