.conteudo {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px
}

.refreshContaBlockchain {
    margin-top: 35px;
  }

  .btnUpload {
    margin-top: 28px;
  }

  .msg {
    margin-bottom: 20px;
    font-size: 13px;
  }

  .msgOk {
    color:green !important;
  }