# embora digam para colocar no source repository, decidimos não colocar
package-lock.json
config.json

# dependencies
/node_modules
/uploads/*.pdf
/uploads/*.txt
/uploads/*.jpg
/uploads/*.png
/uploads/*.gif
/uploads/*.csv
/uploads/*.xls
/uploads/*.doc

