h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-weight: bold;
  float: left;
}

table, th, td, thead, tbody {
    border: 0px;
  }

td {
  text-align: center;
}

.tr-final {
  border-top: 2px solid #e9ecef
}

.tr-final td {
  font-weight: bold;
}

.red {
  color: red
}

.box-qtd-itens {
  float: right;
  margin-bottom: 20px;
}
