<app-metamsg></app-metamsg>
<div class="form-group" *ngIf="web3Service.conexaoComBlockchainEstaOK()">


  <form (ngSubmit)="cancelaAssociacaoContaRepassador()" #registerForm="ngForm">

    <div class="form-group">
      <h2>Trocar conta blockchain do e-CNPJ</h2>
    </div>

    <div class="form-group" *ngIf="!repassador.dadosCadastrais">
      <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="Associar" (click)="certificado.click()">
        <i class="fa fa-id-card" aria-hidden="true"></i> Selecionar arquivo
      </button>
      <input id="certificado" name="certificado" type="file" #certificado (change)="carregaCertificadoDigital($event)" hidden/>
    </div>

    <div class="conteudo form-group" *ngIf="repassador.dadosCadastrais">
      <div class="row">

        <div class="form-group col-md-12 col-sm-12">
          <h6>Dados Cadastrais:</h6>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Razão Social:</label>
          <input name="razaoSocial" class="form-control form-control-sm" [(ngModel)]="repassador.dadosCadastrais.razaoSocial" readonly
            disabled/>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>CNPJ do Repassador:</label>
          <input [textMask]="{mask: maskCnpj}" name="cnpj" class="form-control form-control-sm" [(ngModel)]="repassador.cnpj" [disabled]="repassador.cnpj"
            required/>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Cidade:</label>
          <input name="cidade" class="form-control form-control-sm" [(ngModel)]="repassador.dadosCadastrais.cidade" readonly disabled/>
        </div>

      </div>
    </div>

    <div class="conteudo form-group" *ngIf="repassador.dadosCadastrais">
      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <app-input-validation errorMessage="Campo Obrigatório e Somente números">
            <label>CNPJ do Cliente:</label>
            <input [textMask]="{mask: maskCnpj}" name="cnpjCliente" class="form-control form-control-sm" [(ngModel)]="cnpjCliente" (ngModelChange)="recuperaClientePorCNPJ($event)"
              required/>
          </app-input-validation>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>Contrato do Cliente:</label>
          <select name="subcreditoSelecionado" class="form-control form-control-sm" [(ngModel)]="subcreditoSelecionado" (ngModelChange)="recuperaContaBlockchainAssociada()"
            [disabled]="listaSubcreditos.length <= 0" required>
            <option *ngIf="listaSubcreditos">Selecione</option>
            <option *ngFor="let subcredito of listaSubcreditos | orderBy: 'nome'" [attr.value]="subcredito.numero">{{subcredito.nome}} - {{subcredito.numero}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-5 col-sm-5">
          <label>Conta Blockchain Associada:</label>
          <input name="contaBlockchain" class="form-control form-control-sm" type="text" [(ngModel)]="contaBlockchainAssociada" readonly
            disabled size="45">
        </div>

        <div>
          <img src="assets/img/seta.png" />
        </div>

        <div class="form-group col-md-5 col-sm-5">
          <label>Conta Blockchain Nova:</label>
          <input name="contaBlockchainNova" class="form-control form-control-sm" type="text" [ngModel]="recuperaContaSelecionada()"
            readonly disabled>
          <div class="msg-conta-invalida" *ngIf="!contaEstaValida">
            Conta Blockchain Inválida.
          </div>
        </div>
        <a href="javascript:void(0)" class="refreshContaBlockchain" (click)="refreshContaBlockchainSelecionada()">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>

      </div>

    </div>

    <app-assinador *ngIf="repassador.dadosCadastrais" [msgDeclaracao]="declaracao" (declaracaoAssinada)="receberDeclaracaoAssinada($event)"></app-assinador>

    <div class="form-group" *ngIf="repassador.dadosCadastrais">
      <button type="submit" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="Salvar" [disabled]="declaracaoAssinada === undefined || !contaEstaValida">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Enviar
      </button>

      <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="cancelar" (click)="inicializaPessoaJuridica()">
        Cancelar
      </button>
    </div>

  </form>
</div>