<div class="form-group" *ngIf="selectedAccount">

    <div class="form-group">
      <h2>Trocar conta blockchain do e-CNPJ</h2>
    </div>

    <div class="conteudo form-group" >

      <div class="row">

        <div class="col-md-12 col-sm-12">
          <p>Dados Cadastrais</p>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <label>CNPJ do Cliente:</label>
          <input name="cnpjWithMask" [(ngModel)]="cliente.cnpjWithMask"  class="form-control form-control-sm" (input)="changeCnpj()" 
          [textMask]="{mask: maskCnpj}" required/>
        </div>        

        <div class="form-group col-md-6 col-sm-6" *ngIf="cliente.dadosCadastrais">
          <label>Razão Social:</label>
          <input name="razaoSocial" class="form-control form-control-sm" [(ngModel)]="cliente.dadosCadastrais.razaoSocial" readonly  disabled/>
        </div>

      </div>

    </div>

    <div class="conteudo form-group" *ngIf="cliente.dadosCadastrais">
     
      <div class="row">

        <div class="col-md-12 col-sm-12">
          <p>Trocar associação de subcrédito e Conta Blockchain:</p>
        </div>

        <div class="form-group col-md-4 col-sm-4">
          <app-input-validation errorMessage="Campo Obrigatório">
            <label class="required">Contrato Financeiro:</label>
            <select name="numeroSubcreditoSelecionado" class="form-control form-control-sm" [disabled]="numeroSubcreditoSelecionado === undefined"
            [(ngModel)]="numeroSubcreditoSelecionado" (ngModelChange)="recuperaContaBlockchainCliente()" required>
              <option *ngFor="let subcredito of cliente.subcreditos" [attr.value]="subcredito.numero">{{subcredito.numero}}</option>
            </select>            
          </app-input-validation>
          <div *ngIf="numeroSubcreditoSelecionado === undefined">
              <div class="msg-aviso">
              Não existem subcréditos para serem associados.
              </div>
            </div>                    
        </div>

      </div>

      <div class="row" >

        <div class="form-group col-md-5 col-sm-5">
          <label>Conta Blockchain Associada:</label>
          <input name="contaBlockchainAssociada" class="form-control form-control-sm" type="text" [(ngModel)]="contaBlockchainAssociada" readonly
            disabled size="45" required>
        </div>

        <div>
          <img src="assets/img/seta.png" />
        </div>  

        <div class="form-group col-md-5 col-sm-5">
          <label>Conta Blockchain Nova:</label>
          <input name="contaBlockchain" class="form-control form-control-sm" type="text" 
          [ngModel]="selectedAccount" readonly
            disabled size="45">
          <div class="msg-conta-invalida" >
            {{contaEstaValida}}
          </div>

        </div>  

      </div>  

      <div class="row">
          <div class="form-group col-md-6 col-sm-6 ">
              <label>SALIC:</label>
              <input type="text" name="salic" [(ngModel)]="salic" class="form-control form-control-sm" required/>
          </div>          
          <div class="form-group col-md-6 col-sm-6 ">
              <label>Hash da Declaração:<a target="_blank" href="https://github.com/bndes/bndestoken/tree/master/Docs-Declaracao/Modelo">
                (baixar Modelo da Declaração)
              </a></label>
              <input  name="hashdeclaracao" [(ngModel)]="hashdeclaracao" maxlength="64" class="form-control form-control-sm" required/>
          </div>          
      </div>

    </div>

    <div class="form-group" *ngIf="cliente.dadosCadastrais">

      <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="Salvar" 
        (click)="trocaAssociacaoConta()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Enviar
        </button>
 

      <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="cancelar" (click)="cancelar()">
        Cancelar
      </button>
    </div>    
    
  </div>
  <app-metamsg *ngIf="!selectedAccount"></app-metamsg>
  