<app-bn-cabecalho [nomeSistema]="'Token'" [options]="opcoesCabecalho"></app-bn-cabecalho>

<app-bn-menu-principal [menuUrl]="url">

</app-bn-menu-principal>

<app-bn-alerts></app-bn-alerts>

<!--The content below is only a placeholder and can be replaced.-->
<!--
<nav>
  <a routerLink="/cadastro">Cadastro de Pessoa Jurídica</a>
  <br>
  <a routerLink="/liberacao">Liberação de Recursos</a>
  <br>
  <a routerLink="/transf">Transferência de Recursos</a>
  <br>
  <a routerLink="/resgate">Resgate</a>
  <br>
  <a routerLink="/dash-empresas">Dashboard de identificação de pessoa jurídica</a>
  <br>
  <a routerLink="/dash-transf">Dashboard de transações</a>
  <br>

</nav>-->
<!--
  <img width="300" alt="Coin Logo" src="assets/img/logo-bndescoin.png">
-->



<div class="container conteudo-principal">
  <router-outlet></router-outlet>
</div>
