# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/node_modules

#Temporary solution: to allow json built truffle files to upload and make dockerhub build work
#/build